
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Roboto&family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Roboto&family=Titillium+Web:ital,wght@0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Noto+Sans+Display&display=swap');

*{
    margin:0px;
    padding:0px;
  }

  .iconanimation:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
    
.container-fluid{
  display:flex;
  flex-direction: row;
  align-items: center;
  /* margin-right:20px; */
  justify-content: center;
  height:100%;
  /* min-height:100vh; */
 

}






.left{
display:flex;
justify-content:center;
align-items:center;
background-color:lightblue;
width:40%;
height:100%;
box-sizing: border-box;
border-radius: 3rem 0 0 3rem;


/* height:22rem; */
/* min-height:100vh; */


/* justify-content:flex-end; */
/* align-items: center;
align-content: center; */


}
img{
  margin-top:30px;
}

.right{

display:flex;
justify-content:flex-start;
flex-direction: column;
align-items:center;
justify-content:center;
background-color: hsl(19, 39%, 89%);
/* height:22rem; */
  width:60%;
  height:auto;
  box-sizing: border-box;
  border-radius:  0 3rem  3rem 0 ;
  

}

h1{
  text-align:center;
}

p{
  text-align:center;

}
#divider{
  color: black;
  border:solid;
  width:50%;
  margin-left:auto;
}

hr {
  display:flex;

  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid rgba(10, 10, 120, 12.1);
  width:50%;
  margin-top:100px;

}

.divider{
  display:flex;
  justify-content:center;
  height:10rem;
}
  
  
  
.text{
  font-family: 'Noto Sans Display', sans-serif;
  /* font-family: 'Noto Sans Display', sans-serif; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-family: 'Merriweather', serif;  font-family: 'Lato', sans-serif; */

font-size:22px;
}
.sec-header{
  font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;

}
.fixed-top{
  font-family: 'Lato', sans-serif;
}

.sec-projects{
  display:flex;
  justify-content:center;
  flex-direction:column;
  min-height:100vh;

  /* font-family: 'Lato', sans-serif; */

}
.font{
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Titillium Web', sans-serif;



}
/* .part-one{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
} */

.part-two{
  display:flex;
  flex-wrap:wrap
}


.imgfit{
  height:16rem;
}

.icon{
  width:40px;
  height:40px;
  color:red
}
.icons{
  display:flex;
  justify-content:center;
  gap: 10%;

}

.proj-font{
  font-family: 'Lato', sans-serif;

}

.proj-article{
  display:flex;
  flex-direction: row;
  justify-content:center;
  gap:10%
}



@media (max-width: 768px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  header{
    display:flex;
    color:red;
    flex-direction: column;
    background-color: lightblue;
  }
  .part-one{
display:flex;
flex-direction: column;
/* border-radius:50%; */
  }

  .left{
    display:flex;
    align-items:flex-start;
    width:100%;

    /* margin-bottom:150px; */
    border-radius: 1rem  1rem 0 0;
  }
   img {
    align-self:flex-start;
  }
  .left-nav{
    font-size:20px
  }
.right{
  width:100%;
  border-radius:0 0 1rem  1rem ;

}
.left{
  width:100%
}

hr{
  margin: 1rem;
  height:2rem;
}

.divider{
  height:2rem;
}
}


.small{
  display:flex;
  color:red;
}


/* 

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
} */
