*{
    margin:0px;
    padding:0px;
  }
  
  .circular-sb {
    width: 595px;
    border: 5px solid rgb(235, 216, 52);;
    padding: 80px 0px;
    margin: 50px auto;
    border-radius: 50%;
    text-align: center;
    font-size: 0.4rem;
    font-weight: 900;
    font-family: arial;
    position: relative;
    color: rgb(255, 255, 255);
    background-color:rgb(104, 152, 184);
  }
  
  

  
  /*left circle shape speech bubble*/
  
  .circle3 {
    border: 5px solid #00bfb6;
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    left: -120px;
    bottom: 230px;
  }
  
  .circle3:before {
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
  }
  
  .circle4 {
    border: 5px solid #00bfb6;
    position: absolute;
    width: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    left: -180px;
    bottom: 200px;
  }
  
  
  
  
  
  
  
  